    body {
        font-family: 'Source Sans Pro', sans-serif;
        font: 400 20px/1.5 'Source Sans Pro', Open Sans, Roboto, 'San Francisco', Helvetica, Arial, sans-serif;
    }
    /*  HEADER */
    
    header {
        background-color: #333;
    }
    /* Logo */
    
    .logo-header a {
        display: block;
        border: none;
    }
    
    .logo {
        display: block;
        margin: 0 auto;
        max-height: 85px;
        max-width: 180px;
        padding-top: 10px;
    }
    /* Navigation */
    
    nav {
        color: #ccc;
        display: flex;
        justify-content: center;
    }
    
    nav a {
        color: #ccc;
        padding: 0 13px;
    }
    
    nav a:hover {
        color: #ccc;
    }
    
    .active {
        position: relative;
        padding-top: 7px;
    }
    
    .active:after {
        top: 100%;
        left: 30%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-top-color: #333;
        border-width: 14px;
        margin: 10px -5px 0 0;
    }
    
    nav li {
        float: left;
        font-size: 14px;
        list-style: none;
    }
    
    .list-divider-pipe {
        padding: 0;
        margin: 1px 23px 0 20px;
    }
    
    .foundation-link:before {
        content: "";
    }
    
    .list-divider-pipe li+li:before {
        content: '|';
        color: #999;
        font-size: 20px;
        padding: 0 .1em 0 .1em;
    }
    
    .list-divider-pipe li:last-child:before {
        content: " "
    }
    
    .foundation-link {
        background-color: #026e00;
        padding-bottom: 10px;
        margin-left: 8px;
    }
    /*  MAIN  */
    
    main p {
        text-align: center;
        padding: 52px 0px 12px 0px;
    }
    
    main a {
        color: #43853d;
    }
    
    main h2 {
        text-align: center;
        font-weight: 400;
        font-size: 1.5em;
    }
    
    .downloadblock {
        display: inline-block;
        margin: 0 8px 0 8px;
        text-align: center;
        padding-right: 2px;
    }
    
    .home-downloadbutton {
        display: block;
        margin: 8px 4px 8px 4px;
        padding: .2em .6em;
        background-color: #026e00;
        color: #fff !important;
        border-radius: 2px;
        font-size: 30px;
        font-weight: 400;
        -webkit-transition: .2s background-color ease-in-out;
        transition: .2s background-color ease-in-out;
    }
    
    .home-downloadbutton small {
        display: block;
        font-size: 1rem;
    }
    
    .home-secondary-links {
        color: #51744e;
        font-size: .9rem;
    }
    
    .list-divider-pipe {
        margin: 0;
        padding: 0;
    }
    
    .list-divider-pipe li {
        display: inline-block;
    }
    
    .download-links-div {
        margin: 0 auto;
    }
    
    .download-links-div a,
    a:link,
    a:active {
        color: #43853d;
        text-decoration: none;
        border-radius: 2px;
    }